@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.scroll-offset {
  scroll-margin-top: 5rem; /* adjust to your navbar height */
}
